@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
  @apply text-slate-50 leading-normal break-words;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply text-blue-600 font-semibold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight border-b text-4xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h2 {
  @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-sm font-semibold text-gray-200 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-200;
}

.markdown code {
  @apply font-mono text-sm inline bg-gray-800 rounded px-1 py-1;
}

.markdown pre {
  @apply bg-gray-100 rounded p-4;
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-base pl-8 list-disc;
}

.markdown ol {
  @apply text-base pl-8 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-5 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}


/* darkmode トグルボタン */
[data-theme="dark"] {
  --background: #212121; /* primary */
  --foreground: white;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

.toggle_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.toggle_label {
  width: 62px;
  height: 37px;
  background: #fff;
  border: 3px solid #b71c1c; /* secondary */
  position: relative;
  display: inline-block;
  border-radius: 40px;
  transition: 0.4s;
  box-sizing: border-box;
}

.toggle_label:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  left: 2px;
  top: 2px;
  z-index: 2;
  background: #b71c1c;
  transition: 0.4s;
}

.toggle_input:checked + .toggle_label {

  border: 3px solid #727272; /* primary */
}

.toggle_input:checked + .toggle_label:after {
  left: 27px;
  background: #727272;
}

.toggle_button {
  position: relative;
  width: 62px;
  height: 37px;
  margin: auto;
}
